<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page - Bank</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>Welcome to your bank account!</h1>
    <p>Your current balance is: <span th:text="${user.bankAccount.balance}">0</span> $</p>

    <h2>Available Operations</h2>
    <form action="/deposit" method="post">
        <input type="number" name="amount" placeholder="Amount" required>
        <input type="hidden" name="email" th:value="${user.email}">
        <button type="submit">Deposit</button>
    </form>

    <form action="/withdraw" method="post">
        <input type="number" name="amount" placeholder="Amount" required>
        <input type="hidden" name="email" th:value="${user.email}">
        <button type="submit">Withdraw</button>
    </form>

    <form action="/send_money" method="post" class="form-container">
        <input type="text" name="receiverN" placeholder="Receiver name" required>
        <input type="text" name="receiverS" placeholder="Receiver surname" required>
        <input type="text" name="receiverBankAccountNumber" placeholder="Receiver Bank Account Number" required>
        <input type="number" name="amount" placeholder="Amount" required>
        <input type="hidden" name="email" th:value="${user.email}">
        <button type="submit">Send</button>
    </form>

    <form action="/main" method="get">
        <input type="hidden" name="email" th:value="null">
        <button type="submit">Log out</button>
    </form>
</div>
</body>
</html>
